<% content_for(:title, "Skill | Portfolio") %>

<div class'block'>
	<h1><%= @skill.name %></h1>
	<p><%= @skill.description %></p>

	<%if @skill.projects.any? %>
	<h4>Here are some Projects:</h4>
	<ul>
		<% @skill.projects.each do |project| %>
		<li><%= link_to project.name, project_path(project) %></li>
		<% end %>
	</ul>
	<% end %>	

</div>
	<div class="block path">
		<p><%= link_to "Add a Project", new_project_path %></p>
		<p><%= link_to "Edit Skill", edit_skill_path(@skill) %></p>
		<p><%= link_to "Delete this Skill", skill_path(@skill), 
						:data => {:confirm => "You sure you want to remove a SKILL?",
							:method => 'delete'} %></p>	

	<% end %>
	<p><%=link_to "Return to Skills", skills_path %></p>
</div>	