
<h3><%= @skill.name %></h3>
<div>
	<p>
		<%= @skill.description %>
	</p>
</div>

<div>
	<h4>Projects</h4>
	<% if @projects.any? %>
		<ul>
			<% @projects.each do |project| %>
				<li><%= link_to project.name, skill_project_path(@skill, project) %></li>
			<% end %>
		</ul>
	<% else %>
		No projects are currently started. Someone give me a project and pay me money to do it!
	<% end %>
</div>

<% if can? :manage, Skill, Project %>
	<div class="admin">
		<ul class="nav nav-pills">
			<li role="presentation"><%= link_to "Add a project", new_skill_project_path(@skill) %></li>
			<li role="presentation"><%= link_to "Edit", edit_skill_path(@skill) %></li>
			<li role="presentation"><%= link_to "Delete", skill_path(@skill), data: {confirm: 'Are you sure?'}, method: :delete %></li>
		</ul>
	</div>
<% end %>