<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='flash'>
		<%= flash[:notice] %>
		<%= flash[:alert] %>

</div>
	<header class="navbar navbar-static-top navbar-inverse">
		<div class='navbar-inner'>
			<ul class="navbar navbar-nav">
				<li><a href='/'>Home</a></li>
				<li><a href='/skills'>Skills</a></li>
				<li><a hred='/projects'>Projects</a></li>
			</ul>
	</header>
</div>	
	<div class="container">		

		<%= yield %>
	</div>	

</body>
</html>
